.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    border-radius: 5px;
    padding: 15px;
}
.dark-mode{
    background-color: black;
}
.dark-mode h1{
    color: white;
}
.notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 

} 
.note.new{
    background-color:  rgb(209, 222, 228);
} 
textarea{
    border: none;
    resize: none;
    background-color: rgb(209, 222, 228);

}
textarea:focus{
    outline: none;
}
.save{
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}
.save:hover{
    background-color: #ededed;
    cursor: pointer;
}
.note{
    background-color: #a8c9f0;
    border-radius: 10px;
    padding: 1rem;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}
.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete-icon{
    cursor: pointer;
}
.search{
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;
}
.search input{
    border: none;
    background-color: rgb(233, 233, 233);
}
.search input:focus{
    outline: none;
}
